---
/**
 * * About section
 */

import { Image } from "astro:assets";

import profileImage from "@assets/images/Sol.jpg";
---

<section id="about" class="scroll-animation site-container scroll-mt-10 py-8 md:py-12 my-10">
	<div class="flex flex-col md:flex-row gap-5 items-center">
		<div class="md:w-2/3">
			<h2 class="col h3 text-primary-500 text-pretty uppercase">Title</h2>
			{/*<h3 class="h2 mt-4">Solange</h3> */}
			<div class="col bg-base-100 mt-8 p-8 md:mb-5 lg:text-lg shadow-2xl">
				<p>
					Author Description


				</p>
				<div class="flex w-3/4 justify-end col">
					<p class="font-heading-1 text-3xl italic">- Name</p>
				</div>
			</div>
		</div>
		<div class="max-w-md md:w-1/3 md:max-w-none">
			<div class="my-auto w-full overflow-hidden relative shadow-2xl">
				
				<Image
					src={profileImage}
					alt="Alt"
					width={250}
					densities={[1.5, 2]}
					class=" h-auto min-h-full w-full min-w-full col"
				/>
			</div>
		</div>
	</div>
</section>
