---
import BaseLayout from "@layouts/BaseLayout.astro";

// data
import siteData from "@config/siteData.json";
import Section from "@components/Section/section.astro";
import HeroPage from "@components/HeroPage/HeroPage.astro";
import AboutFull from "@components/About/AboutFull.astro"
---


<BaseLayout title={siteData.title} description={siteData.description} navStartStyle="white">
    <HeroPage title="about me" />

    	{/* About Me*/ }
	<Section id="about" class="bg-primary-300">
		<AboutFull />
	</Section>
</BaseLayout>