---
import BaseLayout from "@layouts/BaseLayout.astro";

// data
import siteData from "@config/siteData.json";
import Section from "@components/Section/section.astro";
import HeroPage from "@components/HeroPage/HeroPage.astro";
import AboutFull from "@components/About/AboutFull.astro"
---


<BaseLayout title="Meet the Founder | Brilla Pro Solutions Orlando" description="Get to know Aldair Ormeno, the founder of Brilla Pro Solutions. Learn about his story, values, and commitment to delivering honest, professional detailing and cleaning services across Orlando." navStartStyle="white">
    <HeroPage title="about me" />

    	{/* About Me*/ }
	<Section id="about" class="bg-primary-300">
		<AboutFull />
	</Section>
</BaseLayout>