---
import BaseLayout from "@layouts/BaseLayout.astro";

// data
import siteData from "@config/siteData.json";
import Section from "@components/Section/section.astro";
import ServiceGallery from "@components/Gallery/Gallery.astro"
import HeroPage from "@components/HeroPage/HeroPage.astro";
---


<BaseLayout title={siteData.title} description={siteData.description} navStartStyle="white">
  
    <Section id="gallery">
          <ServiceGallery />
    </Section>
  
</BaseLayout>