---
import BaseLayout from "@layouts/BaseLayout.astro";

// data
import siteData from "@config/siteData.json";
import Section from "@components/Section/section.astro";
import ServiceGallery from "@components/Gallery/Gallery.astro"
import HeroPage from "@components/HeroPage/HeroPage.astro";
---


<BaseLayout title="Project Gallery | Brilla Pro Solutions Detailing & Cleaning Results" description="Explore our work through before-and-after photos and videos. See how Brilla Pro Solutions transforms cars, driveways, carpets, and more across Orlando with expert detailing and cleaning services." navStartStyle="white">
  
    <Section id="gallery">
          <ServiceGallery />
    </Section>
  
</BaseLayout>