---
import { Image } from "astro:assets";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Hero from "@components/Hero/Hero.astro";
import HeroLayout from "@components/Hero/HeroLayout.astro"
import Contact from "@components/Contact/Contact.astro";

// data
import siteData from "@config/siteData.json";
import Section from "@components/Section/section.astro";
---

<BaseLayout title={siteData.title} description={siteData.description} navStartStyle="white">
	<Hero />

	<Section class="bg-blue-100">
		<HeroLayout />
	</Section>

	<Section class="bg-pink-100">
		<p class="col">This is About</p>
	</Section>


	<Section class="bg-cyan-100">
		<p class="col">This is Testimonials</p>
	</Section>

	<Section class="bg-amber-100">
		<Contact />
	</Section>

</BaseLayout>
