---
import BaseLayout from "@layouts/BaseLayout.astro";

// data
import siteData from "@config/siteData.json";
import Section from "@components/Section/section.astro";
import HeroPage from "@components/HeroPage/HeroPage.astro";
import ServicesFull from "@components/Services/ServicesFull.astro";
---


<BaseLayout title="Our Services | Mobile Detailing, Pressure Washing & More in Orlando" description="Discover our full range of mobile services including car detailing, pressure washing, curbside cleanup, carpet and sofa cleaning. Serving Orlando, Winter Park, and nearby areas." navStartStyle="white">
    <HeroPage title="services"/>

    <Section>  
        <ServicesFull />
    </Section>
  
</BaseLayout>