---
/**
 * * Contact section for the website
 */

import { Image } from "astro:assets";

// components
import ContactForm from "@components/Forms/ContactForm.astro";

interface Props {
	class?: string;
}

const { class: className } = Astro.props as Props;

---


	<h2 class="text-center text-primary-100 col mb-8">Contact Us</h2>
	<div class="grid gap-y-10 md:grid-cols-2 grid-cols-1 text-primary-200 ">
		<div class=" pt-8 md:border-r md:pr-20 md:pl-12">
			<p class="col  text-lg">
				Have questions? Need a quote? We’re here to help.  
				Whether you’re ready to schedule a service or just want more info, 
				feel free to reach out — we’ll respond promptly!
			</p>
			<div>
				<ul>
					<li>Location</li>
					<li>Location</li>

					<li>Location</li>

					<li>Location</li>

				</ul>
			</div>

		</div>
		<div class="md:pr-12 md:pl-20">
			<ContactForm />
		</div>
	</div>

