---
/**
 * * Contact section for the website
 */

import { Image } from "astro:assets";

// components
import ContactForm from "@components/Forms/ContactForm.astro";

interface Props {
	class?: string;
}

const { class: className } = Astro.props as Props;

---


	<h2 class="text-center text-primary-100 col mb-8">Contact Us</h2>
	<div class="grid gap-y-10 md:grid-cols-2 grid-cols-1 text-primary-200 ">
		<div class=" pt-8 md:border-r md:pr-20 md:pl-12">
			<p class="col  text-lg">
				Have questions? Need a quote? We’re here to help.  
				Whether you’re ready to schedule a service or just want more info, 
				feel free to reach out — we’ll respond promptly!
			</p>
			<div>
				<ul class="mt-5">
					<li>
						<i class="bx bx-phone text-xl"></i>
						<span class="font-semibold">Phone:</span> 
						<a href="tel:+14071234567" class="underline hover:text-primary-100/80">+1 (407) 123-4567</a>
					  </li>
					  <li>
						<i class="bx bx-envelope text-xl"></i>
						<span class="font-semibold">Email:</span> 
						<a href="mailto:info@brillapro.com" class="underline hover:text-primary-100/80">info@brillapro.com</a>
					  </li>

					  <li>
						<i class="bx bx-location-plus text-xl"></i>

						 <span class="font-semibold">Location:</span> Orlando, Florida
					  </li>
				</ul>
			</div>
			    <!-- Google Map Embed -->
				<div class="w-full aspect-video overflow-hidden shadow-xl mt-8">
					<iframe
					  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89475.32627405005!2d-81.4120438!3d28.4811014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88e773c0080e7b3b%3A0xcdb29fc0ec98637b!2sOrlando%2C%20FL!5e0!3m2!1sen!2sus!4v1713843827397!5m2!1sen!2sus"
					  width="100%"
					  height="100%"
					  style="border:0;"
					  allowfullscreen=""
					  loading="lazy"
					  referrerpolicy="no-referrer-when-downgrade"
					  title="BrillaPro Solutions service area map"
					></iframe>
				  </div>

		</div>
		<div class="md:pr-12 md:pl-20">
			<ContactForm />
		</div>
	</div>

