<div class="max-w-6xl mx-auto">

    <h2 class="text-center font-bold uppercase mb-10 col">How It Works</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-12 text-left max-6-xl  mx-auto px-4 ">
        <!--Step 1 -->
        <div class="flex flex-col items-start col ">
            <span class="text-3xl lg:text-5xl font-bold mb-4">01</span>
            <h3 class=" font-semibold mb-2"> Quote </h3>
            <p class="text-primary-200">Fill out our online form or call us to get a customized estimate.</p>
        </div>
            <!--Step 2 -->
        <div class="flex flex-col items-start col ">
            <span class="text-3xl lg:text-5xl font-bold mb-4">02</span>
            <h3 class=" font-semibold mb-2"> Schedule </h3>
            <p class="text-primary-200">Choose a convenient day and time — we’ll arrive promptly and ready with all equipment and supplies needed.</p>
        </div>
            <!--Step 3 -->
        <div class="flex flex-col items-start col ">
            <span class="text-3xl lg:text-5xl font-bold mb-4">03</span>
            <h3 class="font-semibold mb-2"> Shine </h3>
            <p class="text-primary-200">Whether it’s your driveway, car interior, or living room carpet — we leave every space looking clean, fresh, and like new.</p>
        </div>

    </div>
</div>