---
import heroPage from "@assets/images/heroPage.png";
import { Image } from "astro:assets";
import Button from "@components/Button/Button.astro";


const {title, description, CTA } = Astro.props;


---

<section
  id="heroPage"
  class="scroll-animation relative w-full min-h-[90vh] flex items-center justify-center overflow-hidden"
>
  <!-- Background Image (behind content) -->
  <Image
    src={heroPage}
    alt="Car detailing background"
    width={1384}
    sizes="(max-width: 768px) 100vw, 1384px"
    class="absolute inset-0 w-full h-full object-cover z-0"
    fetchpriority="high"
    loading="eager"  />

  <!-- Overlay (optional dark filter for readability) -->
  <div class="absolute inset-0 bg-black/50 z-10"></div>

  <!-- Centered Content -->
  <div class="relative z-20 text-center px-4 text-primary-200">
    <h1 class="text-4xl md:text-6xl font-heading-1 uppercase col ">{title}</h1>
    <p class="text-xl mt-5 col ">{description}</p>
    { CTA ?  <div class="col px-4 mt-16 col ">
              <Button href="#contact" variant="secondary" class="w-fit mx-auto "> {CTA}</Button>

    </div> : null
    }
   
  </div>
</section>
