---
const { id, class: className, contain = true } = Astro.props;

---

<section id={id} class={`scroll-animation scroll-mt-10 py-10 md:py-12 ${className} `}>
    <div class={`${contain ? " max-w-7xl  mx-auto px-4" : ""}`}>
        <slot />
    </div>

</section>